# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [87]:
def lesser_of_two_evens(a,b):
    if a %2 == 0 and b %2 == 0:
        return min(a, b)
    elif a %2 != 0 or b %2 != 0:
        return max(a, b)

In [88]:
# Check
lesser_of_two_evens(2,4)

2

In [89]:
# Check
print(lesser_of_two_evens(2,5))

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [90]:
def animal_crackers(text):
    str1 = text.split()[0]
    str2 = text.split()[1]

    if str1[0] == str2[0]:
        return True
    else:
        return False

In [91]:
# Check
animal_crackers('Levelheaded Llama')

True

In [92]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [93]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [94]:
# Check
makes_twenty(20,10)

True

In [95]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [162]:
def old_macdonald(name):
    new_name = name[0:3].capitalize() + name[3:].capitalize()
    return new_name

In [163]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [228]:
def master_yoda(text):
    words = text.split(' ')
    reversed_sentence = ' '.join(reversed(words))
    return reversed_sentence

In [258]:
# Check
master_yoda('I am home')

'home am I'

In [259]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [1]:
def almost_there(n):
    if (n >= (100 - 10) and n <= (100 + 10)) or (n>= (200 - 10) and n<= (200 + 10)):
        return True
    else:
        return False

In [2]:
# Check
almost_there(104)

True

In [3]:
# Check
almost_there(150)

False

In [4]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [130]:
def has_33(nums):
    has_consicutive_three = False
    for i in range(len(nums)):
        if (i + 1 < len(nums) and nums[i] == 3 and nums[i+1] == 3) or (i - 1 > 0 and nums[i] == 3 and nums[i-1] == 3):
            has_consicutive_three = True
        else:
            has_consicutive_three = False
    return has_consicutive_three

In [131]:
# Check
has_33([1, 3, 3])

True

In [132]:
# Check
has_33([1, 3, 1, 3])

False

In [133]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [134]:
def paper_doll(text):
    triplet_string = ''
    for item in text:
        triplet_string = triplet_string + item + item + item
    
    return triplet_string

In [135]:
# Check
paper_doll('Hello')

In [136]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [67]:
def blackjack(a,b,c):
    if sum((a, b, c)) < 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [68]:
# Check
blackjack(5,6,7)

18

In [69]:
# Check
blackjack(9,9,9)

'BUST'

In [70]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [95]:
def summer_69(arr):
    sum_total = 0
    add = True
    for num in arr:

        while add:
            if num != 6:
                sum_total += num
                break
            else:
                add = False
        
        while not add:
            if num != 9:
                break
            else:
                add = True
                break

    return sum_total

In [96]:
# Check
summer_69([1, 3, 5])

9

In [97]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [98]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [107]:
def spy_game(nums):
    init_nums = [0, 0, 7, 'x']

    for num in nums:
        if num == init_nums[0]:
            init_nums.pop(0)

    return len(init_nums) == 1

In [108]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [109]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [110]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [117]:
def count_primes(num):
    prime_list = [2]
    min_prime = 3

    if num < 2: 
        return 0

    while min_prime <= num:
        for item in prime_list:
            if min_prime % item == 0:
                min_prime += 2
                break
        else:
            prime_list.append(min_prime)
            min_prime += 2
            
    print(prime_list)
    return len(prime_list)

In [118]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [119]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [120]:
print_big('a')

## Great Job!